<h1 class="center">Meals</h1>

<h2 class="center">Starters</h1>

<div class="tables">
  <%= render partial: 'meals', locals: { meals: @meals.starters } %>
</div>

<h2 class="center">Mains</h1>

<div class="tables">
  <%= render partial: 'meals', locals: { meals: @meals.mains } %>
</div>

<h2 class="center">Desserts</h1>

<div class="tables">
  <%= render partial: 'meals', locals: { meals: @meals.desserts } %>
</div>
